html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5; /* Thêm màu nền nhẹ cho đẹp */
}

#root {
  width: 100%;
  height: 100%;
  display: block;
}